# Raw GTFS data (too large for git)
data/raw/

# Python
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Generated outputs
models/
data/processed/
evaluation/plots/
.ipynb_checkpoints/
